* { /*para começar com todos os elementos do 0*/
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(230 , 250 , 252);
  color: rgb(0 , 46 , 44);
  font-size: 18px;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 7%; /*para empurrar todo o conteúdo um pouco para baixo, visto que o header está fixo*/
}

header {
  background-color: rgb(42 , 145 , 52);
  position: fixed; /*fixa o header no scroll da página*/
  width: 100%; /*para que pegue a página de ponta a ponta*/
  top: 0; /*para colar o header no topo da página*/
  padding: 1%; /*para dar um espaço do texto para as bordas*/
  text-align: center; /*para centralizar o texto*/
  z-index: 1; /*para que fique na frente de todos os elementos*/
}

img {
  position: relative;
  left: 15%;
  border: 10px double rgb(191 , 116 , 23);
  border-radius: 10% 0;
}

nav img {
  border: none;
  width: 2.5%;
  display: inline-block;
  left: 20%;
}

article {
  position: relative;
  left: 40%;
  display: inline-block; /*para que fique lado a lado com a imagem e tabela*/
  transform: translateY(-30%); /*para movimentar no eixo Y*/
  border: 8px inset green;
  border-radius: 0 10%;
  padding: 0.5%;
}

article:hover {
  border: 13px inset rgb(173 , 52 , 62);
}

p {
  position: relative;
  display: inline-block;
  text-align: right;
}

table, td, tr {
  border: 3px solid rgb(35 , 206 , 107);
  border-collapse: collapse; /*unir as bordas*/
  padding: 2% 0.89%; /*preenchimento interno da tabela*/
  text-align: center;
  position: relative;;
  left: 12%;
}

table {
  transform: translateY(-40%); /*para movimentar a tabela como um todo no eixo Y*/
}

.bold {
  font-weight: bold; /*só os itens da esquerda da tabela ficam destacados*/
}

section {
  display: inline-block;
  position: relative;
  left: 55%;
  border: 10px groove rgb(255 , 159 , 28);
  border-radius: 10%;
  padding: 1% 3%;
  transform: translateY(-9%); /*para movimentar no eixo Y subindo um pouco*/
}

.from-ol {
  position: relative;
  left: 17%; /*para dar um tab nos itens da lista*/
}

aside {
  display: inline-block;
  position: relative;
  transform: translateY(+92%); /*para movimentar no eixo Y*/
  border: 10px ridge rgb(6 , 81 , 67);
  border-radius: 20%;
  padding: 1% 2%;
  margin-bottom: 10%;
}

.from-ul {
  position: relative;
  left: 17%;
}

footer {
  display: inline-block;
  transform: translateY(+1620%);
  font-size: 80%;
  color: rgb(173 , 52 , 62);
}
