body {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: url('background.jpg');
  background-repeat: no-repeat;

}

header {
  margin: 10px 440px;
  font-size: 14pt;
  display: inline-block;
  padding: 5px;
  border: 1px solid yellowgreen;
  background-color: whitesmoke;
}

input {
  margin-bottom: 5px;
  margin-top: 2px;
}

p {
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  font-size: 80pt;
  margin-left: 150px;
  margin-top: -50px;
  margin-bottom: 0;
}

p:hover {
  color: #8e44ad;
}

.meme-image-container {
  background-color: white;
  border: 1px solid black;
  height: 250px;
  margin-left: 150px;
  margin-top: 70px;
  position: absolute;
  width: 250px;
  display: inline-block;
}

.meme-text {
  bottom: 0;
  color: white;
  font-family: Impact, sans-serif;
  font-size: 30px;
  position: absolute;
  text-shadow: black 5px 5px 5px;
}

.meme-image {
  height: 100%;
  width: 100%;
}

.all-the-buttons {
  display: inline-block;
  margin-top: 0;
  margin-left: 81px;
}

.fire {
  background-color: red;
  margin-left: 25px;
  margin-right: 50px;
  font-size: 18pt;
  padding: 10px;
}

.water {
  background-color: blue;
  margin-right: 50px;
  font-size: 18pt;
  padding: 10px;
  border-radius: 100%;
}

.earth {
  background-color: green;
  font-size: 18pt;
  padding: 10px;
  border-radius: 100% 0 100% 0;
}

.pre-Meme {
  margin: 20px 100px;
  display: inline-block;
}

.meme-1 {
  margin-left: 10px;
  margin-right: 20px;
}

.meme-2 {
  margin-right: 20px;
}

.meme-3 {
  margin-right: 20px;
}
